{%extends 'base.html'%}
{% block content%}
<!--<form method="'POST">-->
<!--    {% csrf_token %}-->
<!--    <div class="form-group">-->
<!--    <input type="text" name="name" placeholder="name the task">-->
<!--    </div>-->
<!--     <div class="form-group">-->
<!--    <input type="text" name="priority" placeholder="priority">-->
<!--     </div>-->
<!--    <input type="submit" value="ADD">-->
<!--</form>-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <form class="p-5 shadow">
                <div class="form-group mt-2">
                    <input type="text" name="name" class="form-control" id="exampleInputTask" aria-describedby="emailHelp" placeholder="Task to add">
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control" id="exampleInputPriority" placeholder="Priority">
                </div>
                <button type="submit" class="btn btn-success mt-2">Add</button>
                 </div>
            </form>
        </div>

    </div>

</div>



{% endblock %}